In [8]:
lista =[]
lista.append(1)
lista.append(2)

In [5]:
lista

[1]

In [9]:
lista[1]

2

In [10]:
for x in range(2,100):
    lista.append(x)

In [11]:
lista

[1,
 2,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

# sublista

In [13]:
sublista= lista[50:90]

In [14]:
sublista

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89]

In [15]:
sublista = lista[:50]

In [16]:
sublista

[1,
 2,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [17]:
sublista = lista[::2]

In [18]:
sublista

[1,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [19]:
lista1 =["b","a","c"]
lista2= [1,2,3,4]
listacombinada= lista1 + lista2

In [20]:
listacombinada

['b', 'a', 'c', 1, 2, 3, 4]

In [22]:
lista1.sort()

In [23]:
lista1

['a', 'b', 'c']

# lista.sort (organiza la lista)

In [ ]:
for x in lista1:
    if "a"==x:
        print ("verdadero")

In [28]:
lista[:101]

[1,
 2,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [38]:
listaP=[]
listai=[]
for x in range (2,100):
    if x % 2 == 0:
        listaP.append(x)
    else:
        listai.append(x)

In [41]:
listaP

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [42]:
ejemplocadenas = "james rodriguez"

In [44]:
ejemplocadenas[0:5]

'james'

In [45]:
ejemplocadenas.isnumeric()

False

In [46]:
ejemplocadenas.upper()

'JAMES RODRIGUEZ'

In [47]:
ejemplocadenas.lower()

'james rodriguez'

In [48]:
ejemplocadenas.capitalize()

'James rodriguez'

In [49]:
ejemplocadenas.replace("james","efrain")

'efrain rodriguez'

In [50]:
midiccionario={"col":"colombia", "usa":"united states"}

In [53]:
midiccionario["usa"]

'united states'

In [60]:
for elemento in midiccionario.items():  o puede ser .values o .keys
    print (elemento)

('col', 'colombia')
('usa', 'united states')

In [61]:
midiccionario ["per"] = "peru"

In [62]:
midiccionario

{'col': 'colombia', 'per': 'peru', 'usa': 'united states'}

In [64]:
midiccionario.clear()

In [65]:
midiccionario

{}